<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center"
        >Time to start a workout!</mat-card-title
      >
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!(isLoading$ | async) && (excercise$ | async)">
          <mat-select
            placeholder="Favorite excercises"
            ngModel
            name="excercise"
            required
          >
            <mat-option
              *ngFor="let excercise of (excercise$ | async)"
              [value]="excercise.id"
            >
              {{ excercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button
          *ngIf="!(isLoading$ | async) && (excercise$ | async)"
          type="submit"
          mat-button
          [disabled]="f.invalid"
        >
          Start
        </button>
        <button
          *ngIf="!(isLoading$ | async) && !(excercise$ | async)"
          type="button"
          mat-button
          (click)="fetchExcercises()"
        >
          Fetch Again
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
